.input {
    margin: 0.4em 0;
    width: 100%;
    font-size: 1em;

    @mixin atSmall {
        font-size: 0.6em
    }


    @mixin atMedium {
        font-size: 1em;

    }

    &--header {
        margin: 0.8em 0;
    }

    &--login {
        border: solid $primaryColor;
        padding: 0.5em 0.5em
    }
}